{% load staticfiles %}
<html>
    <head>
            <title>Rango</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">        
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div>
            {% if category %}
                <h1>
                    {{ category.name }}
                </h1>
                {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No pages currently in this category</strong><br/>
                {% endif %}
            {% else %}
                <h1>The specified category does not exist</h1>
            {% endif %}
            <a href="{% url 'rango:index' %}">Rango - Homesite</a>
        </div>
    </body>
</html>