{% extends "rango/base.html" %}

{%block content%}
        <div>
            {% if category %}
                <h1>
                    {{ category.name }}
                </h1>
                {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No pages currently in this category</strong><br/>
                {% endif %}
                <p> Category was created {{ category.date }}</p>
                <br>                 
                <a href="{% url 'rango:add_page' category.slug %}" class="btn btn-primary">Add Page</a> <br/>
            {% else %}
                <h1>The specified category does not exist</h1>
            {% endif %}
            <a href="{% url 'rango:index' %}">Rango - Homesite</a>
        </div>
{%endblock%}