<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango:</h1>
        <div><p>Hey there!</p></div>
        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
                {% if viewed_categories %}
                <strong>Most viewed categories:</strong>
                <ul>
                    {%for category in viewed_categories %}
                        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                    {%endfor %}
                </ul>
                {% endif %}
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about/">About</a> <br>
            <img src="{% static "images/rango.png" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>