{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Login</h1>
    <form id-"login_form" method="POST" action="{% url 'rango:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" value="" size="50" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" value="" size="50" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}